<!DOCTYPE html>
<html>
<head>
	<title>Practice</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
</head>
<body>
	<div ng-app='myapp' ng-controller="myCtrl">

		<div class="container">
			<div class="row"><h2>Customer Details</h2></div>
			<div class="row">
				<div class="col-sm-6" style="border: 1px solid;">
					<div class="row">
						<div class="col-sm-3">
							<label>Name:</label>
						</div>
						<div class="col-sm-9">
							<input type="text" class="form-control" >
						</div>	
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label>Address:</label>
						</div>
						<div class="col-sm-9">
							<textarea class="form-control"></textarea>
						</div>	
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label>States:</label>
						</div>
						<div class="col-sm-9">
							<select class="form-control">
								<option>A</option>
							</select>
						</div>	
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label>Mobile No:</label>
						</div>
						<div class="col-sm-9">
							<input type="number" class="form-control">
						</div>	
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label>GSTIN No:</label>
						</div>
						<div class="col-sm-9">
							<input type="number" class="form-control">
						</div>	
					</div>
				</div>
				<div class="col-sm-6"  style="border: 1px solid;">
					<div class="row">
						<div class="col-sm-3">
							<label>Bill No:</label>
						</div>
						<div class="col-sm-9">
							<input type="number" class="form-control">
						</div>	
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label>P.O No:</label>
						</div>
						<div class="col-sm-9">
							<input type="number" class="form-control">
						</div>	
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label>Date :</label>
						</div>
						<div class="col-sm-9">
							<input type="date" class="form-control">
						</div>	
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label>Chalan No:</label>
						</div>
						<div class="col-sm-9">
							<input type="number" class="form-control">
						</div>	
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label>Date:</label>
						</div>
						<div class="col-sm-9">
							<input type="date" class="form-control">
						</div>	
					</div>
				</div>
			</div>
			<div class="row"  style="border: 1px solid;">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">
								Sr.No
							</th>
							<th scope="col">
								HSN Code
							</th>
							<th scope="col">
								Item Description
							</th>
							<th scope="col">
							QTY
							</th>
							<th scope="col">
								Unit Price
							</th>
							<th scope="col">
								Amount
							</th>
							<th scope="col">
								<button class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Add</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							
						</tr>
						<tr>
							<td colspan="1"></td>
							<td colspan="3"><b>Inwords:</b></td>
							<td>Total</td>
						</tr>
					</tbody>

				</table>
				

			</div>


		</div>
       <!-- <div class="container">
	       	<div class="row">
	       		<div class="col-sm-4">
	       			<h2> Simple Calculator</h2>
	       		</div>
	       	</div>
	       	<br>
	       	<div class=" row">
	       		<div class="col-sm-4">

	       			<input type="number"  ng-value="result" placeholder="Enter the First number" class="form-control">	
	       		</div>
	       	</div>
	       	<br>
	       	<div class="row">
	       		<div class="col-sm-4">
	       			<button class="btn btn-success btn-lg" ng-click="divid()">C</button>
	       			<button class="btn btn-success btn-lg" ng-click="percentage()">()</button>
	       			<button class="btn btn-success btn-lg" ng-click="percentage()">%</button>
	       			<button class="btn btn-success btn-lg" ng-click="divid()">/</button>
	       		</div>
	       	</div>
	       	<br>
	       	<div class="row">
	       		<div class="col-sm-4">
	       			<button class="btn btn-success btn-lg" ng-click="seven(7)">7</button>
	       			
	       			<button class="btn btn-success btn-lg" ng-click="eight(8)">8</button>
	       			<button class="btn btn-success btn-lg" ng-click="nine(9)">9</button>
	       			<button class="btn btn-success btn-lg" ng-click="multiple()">*</button>

	       			
	       		</div>
	       	</div>
	       	<br>
	       	<div class="row">
	       		<div class="col-sm-4">
	       			<button class="btn btn-success btn-lg" ng-click="four(4)">4</button>
	       			
	       			<button class="btn btn-success btn-lg" ng-click="five(5)">5</button>
	       			<button class="btn btn-success btn-lg" ng-click="six(6)">6</button>
	       			<button class="btn btn-success btn-lg" ng-click="substruct()">-</button>
	       		</div>
	       	</div>
	       	<br>
	       	<div class="row">
	       		<div class="col-sm-4">
	       			<button class="btn btn-success btn-lg" ng-click="one(1)">1</button>
	       			
	       			<button class="btn btn-success btn-lg" ng-click="two(2)">2</button>
	       			<button class="btn btn-success btn-lg" ng-click="three(3)">3</button>
	       			<button class="btn btn-success btn-lg" ng-click="add('+')">+</button>
	       		</div>
	       	</div>
	       	<br>
	       	<div class="row">
	       		<div class="col-sm-4">
	       			<button class="btn btn-success btn-lg" ng-click="plusanddivid()">+/</button>
	       			<button class="btn btn-success btn-lg" ng-click="zero('0')">0</button>
	       			<button class="btn btn-success btn-lg" ng-click="doat('.')">.</button>
	       			<button class="btn btn-success btn-lg" ng-click="equal()">=</button>

	       		</div>
	       	</div>
	       	<br>
	       	<div><b>Result<b>: {{result}}</div>
       </div> -->
	</div>
	<script type="text/javascript">
		
		var app=angular.module("myapp",[])
		/*app.service("cal",function()
		{
			this.added=function(a,b)
			{
				return a+b;
			}
			this.substructed=function(a,b)
			{
				return a-b;
			}
			this.divided=function(a,b)
			{
				return a/b;
			}
			this.multipled=function(a,b)
			{
				return a*b;
			}
			this.percentaged=function(a,b)
			{
				return a/b*100;
			}
		})*/
		/*app.controller("myCtrl",function($scope) 
		{
			
			$scope.add=function(){
				$scope.result=cal.added($scope.first, $scope.second);
			}
			$scope.substruct=function(){
				$scope.result=cal.substructed($scope.first, $scope.second);
			}
			$scope.divid=function(){
				$scope.result=cal.divided($scope.first, $scope.second);
			}
			$scope.multiple=function(){
				$scope.result=cal.multipled($scope.first, $scope.second);
			}
			$scope.percentage=function(){
				$scope.result=cal.percentaged($scope.first, $scope.second);
			}
			
		})*/

		app.directive("modal",function(){

			return {
				tamplate:""
			}
		})



	</script>
</body>
</html>